<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <%= stylesheet_tag 'lukas' %>
        <%= javascript_tag 'lukas' %>
    </head>
    <body>
        ruby sucks.
    </body>
</html>
